@model IEnumerable<BugTracker.ViewModel.DashboardIssueViewModel>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            @if (i.SprintId == 0)
             {
                <tr>
                    <td >@i.Type</td>
                    <td>@i.Name</td>
                    <td>@i.Status</td>
                 </tr>
             }
        }
    </tbody>
</table>