@page 
@{
    ViewData["Title"] = "Dashboard";
    @model IndexModel
}


<div class="container-fluid">
    <h1>Index</h1>
    <div class="row">
        <div class="col-5">
            
        </div>
        <div class="col-6" id="pie">
            
        </div>
    </div>
</div>



