@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}



    <div class="container-fluid">
        <div class="row align-content-center justify-content-center mt-5">
            <div class="col-5">
                <div class=" card shadow">
                    <div class="card-header"><h5 class="m-0 font-weight-bold text-info">Choose Project</h5></div>
                    <div class="card-body">
                        <form method="post">
                            @foreach (var p in Model.Projects)
                            {
                                <div class="row mb-2">
                                    <div class="col-10">
                                        <h2>@p.Name</h2>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <button class="btn btn-info te" type="submit" asp-route-projectId="@p.Id">
                                                <i class="fas fa-angle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
